body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #eceff1, #f1f3f4);
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100vh;
    margin: 0;
    font-weight: bold;
    font-size: 48px;
}

.sentence {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #212121;
}

.scroll-container {
    width: auto;
    height: 48px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.scroll-content {
    display: flex;
    flex-direction: column;
    animation: scroll 8s linear infinite;
}

.scroll-content div {
    height: 48px;
    display: flex;
    color: #1e88e5;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-192px); /* 4 items * 48px each */
    }
}
